{{ define "header" }}
  {{ partial "menu.html" . }}
{{ end }}
{{ define "main" }}
  <article itemscope itemtype="https://schema.org/BlogPosting">
    {{ template "_internal/schema.html" . }}
    <header>
      <h1 itemprop="headline">{{ .Title }}</h1>
      <p class="muted">
        {{ partial "post/meta.html" . }}
      </p>
      {{ if .Description }}
        <blockquote itemprop="description">{{ .Description }}</blockquote>
      {{ end }}
      {{ $header := (.Resources.GetMatch "header") }}
      {{ if and (.Scratch.Get "header_src") (not $header) }}{{ errorf "%s: Unable to find header image." .Page.RelPermalink }}{{ end }}
      {{ if $header }}
        {{ $imageLoQ :=  $header.Fit "600x338 q60 Center" }}
        {{ $image600 :=  $header.Fit "600x338 q81 Center" }}
        {{ $image900 :=  $header.Fit "900x506 q84 Center" }}
        {{ $image1200 := $header.Fit "1200x675 q87 Center" }}
        {{ $image1600 := $header.Fit "1600x900 q90 Center" }}
        <img
          alt="{{ .Title }}"
          class="lazyload blur-up"
          src="{{ $imageLoQ.RelPermalink }}"
          data-sizes="auto"
          data-src="{{ $image1200.RelPermalink }}"
          data-srcset="{{ $image600.RelPermalink }} 600w, {{ $image900.RelPermalink }} 900w, {{ $image1200.RelPermalink }} 1200w, {{ $image1600.RelPermalink }} 1600w"
        >
      {{ end }}
    </header>
    <div itemprop="articleBody">
      {{ .Content }}
    </div>
    <footer>
      <hr>
      {{ partial "post/byline.html" . }}
      {{ partial "post/related-content.html" . }}
    </footer>
    {{ if .Site.DisqusShortname }}
    <article>
      {{ template "_internal/disqus.html" . }}
    </article>
    {{ end }}
  </article>
{{ end }}
{{ define "footer" }}
  {{ partial "powered-by.html" . }}
{{ end }}
